@import "../../styles//variables.scss";

.Support-Container{
  color:white;



&>h1{
  color:white;
  padding:0;
  padding-top: 10px;
  padding-left: 25px;
  font-size:35px;
  line-height: 15px;
  
}

&>h2{
  padding:0;
  color:$primary-color;
  font-size:12px;
  line-height: 14px;


  padding-left: 25px;
}


.liinfo{
  color:white;
  font-size:12px;
  }

.bottom{
  display:absolute;
 text-align:center;
  color:$primary-color;
  font-size:13px;
  margin-top: -5px;
  font-family:sans-serif;
}



img {
  border-radius: 50%;
  width:80px;
  height:80px;
 
}
.circle{
  border-radius: 50%;
  width:110px;
  height:110px;
  border:1px solid grey;
  margin:30px;
  margin-top:10px;
  margin-left:20px;
  display: flex;
  justify-content: center;
  align-items: center;

}



.content{
  margin-top:10px;
  font-size:10px;
  display:flex;
  flex-direction: column;
  font-family:sans-serif;
  
}
hr{
  width:85%;
  color:grey;
  margin-top:5px;
  margin-bottom:5px;
  
}
.row{
  --bs-gutter-x:none;
}


}

