.Tablet-Container{
  color:white;
 
  h1{
   color:#675190;

  }
  h2{
    color:#675190;
    font-size:12px;
    padding-left:30px;
  }
  .icons{
    color:grey;
    width:100px;
    display:flex;
    margin-top:60px;
    margin-left: 30px;
  }
  .icon{
    margin:5px;
  }

}

